<h1>Car Dealership Inventory</h1>
<p>Your car has been successfully added to our dealership!</p>
<p>@Model.GetMakeModel()</p>
<p>Year: @Model.GetPrice()</p>
<p>Price: @Model.GetMiles()</p>
<p><a href="/add_new_car">Add Another Car</a></p>
<p><a href="/car_list">View All Cars</a></p>
